/* App.css */
p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.container {
  margin: 0;
  position: relative;
  width: inherit;
  left: 0;
  min-height: 90vh;
  justify-content: center;
}

header {
  margin-top: var(--nav-height);
  width: 100%;
}

main {
  justify-content: space-between;
  flex-grow: 1;
  overflow: scroll;
}

.free-container {
  display: free;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .desc-image-container {
    grid-template-columns: 1fr;
  }
}