.slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  aspect-ratio: 1;
  height: 50px;

  user-select: none;
  cursor: pointer;

  text-align: center;
  font-size: 18px;
  font-weight: bold;

  color: white;
  border: 1px solid white;
  transition: background-color 0.3s;
  background-color: var(--transparent-background-color) !important;
}

.slide-button:hover {
  background-color: var(--2nd-background-color) !important;
  .button-icon {
    transform: scale(1.2);
  }
}

.slide-button:active {
  background-color: var(--transparent-background-color-accent) !important;
}

.slide-button {
  background-color: var(--transparent-background-color);
}

.button-icon {
  background: transparent;
}
