.about {
  padding-bottom: var(--footer-height);
}

.about > header {
  & h1 {
    text-align: center;
  }
}

.about > main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-1,
.container-2 {
  width: 100%;
  position: relative;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  overflow: hidden;
}

.about .link-container,
.about .text-container {
  align-self: stretch;
  justify-self: stretch;
}

.about .link-container {
  height: 100%;
  background: transparent;
  display: block;
}

.about .text-container {
  background: transparent;
  display: block;
  width: 100%;
  padding: var(--padding-vertical-sm) var(--padding-horizontal-sm);
  overflow: auto;
  & h2,
  & p {
    background: transparent;
  }
  p.mob-desc {
    display: none;
  }
  p.pc-desc {
    display: block;
  }
}

.container-1 {
  background-color: transparent;
  color: var(--primary-color);

  .text-container {
    grid-column: 1;
    grid-row: 1;
    & h2 {
      color: var(--primary-color);
    }

    & p {
      color: var(--text-color);
    }
  }

  .link-container {
    grid-row: 1;
    grid-column: 2;
  }
}

.container-2 {
  background: linear-gradient(
    270deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;

  .link-container {
    grid-row: 1;
    grid-column: 1;
  }

  .text-container {
    grid-row: 1;
    grid-column: 2;
    & h2 {
      color: var(--secondary-color);
    }
    & p {
      color: var(--text-color-2);
    }
  }
}

.about img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.about img:hover {
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .about .text-container {
    p.mob-desc {
      display: block;
    }
    p.pc-desc {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .container-1,
  .container-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .about .text-container {
    grid-column: 1;
    grid-row: 2;
  }
  .about .link-container {
    grid-column: 1;
    grid-row: 1;
  }
}
