
.home-slideshow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }

  .home-slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    opacity: 1;
  }
  