.review {
  background: transparent;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--login-tw);
  padding: var(--padding-vertical-sm) var(--padding-horizontal-sm);
  gap: var(--gap-size);

  border: 1px solid white;
  border-radius: 20px;
}

.review .review-navigation {
  background: transparent;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / 3;
  gap: 4px;
}

.review .review-navigation .rev-nav-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 0;

  span {
    background: transparent;
    color: white;
    text-align: center;
  }
  span:hover {
    color: var(--accent-color);
  }
}

.review .review-navigation .rev-nav-btn.active {
  span {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
}

.reviews {
  background: transparent;
  display: grid;
  padding: var(--padding-vertical-sm) var(--padding-horizontal-sm);
  gap: var(--gap-size);
  grid-column: 1;
  grid-row: 2;
  height: 250px;
  overflow-y: auto;

  span {
    background: transparent;
    color: white;
  }
}

.reviews .box {
  background: transparent;
  padding: 8px;
  min-width: 200px;

  p {
    background: inherit;
    color: white;
  }
  i {
    background: transparent;
    color: white;
  }
}

.reviews .rating {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;

  .stars {
    background: transparent;
    display: flex;
    gap: 4px;
  }
}

.rating-icon {
  background: transparent;
}

.review .review-form {
  padding: 0;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: transparent;
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.review .review-form .icon {
  opacity: 0.2;
  transform: translate(10px, -15px);
}

.review .review-form .icon:hover {
  opacity: 1;
}

.review .review-form select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 0.75em;
  width: 100%;
  padding: 0.5em 3em 0.5em 1em;
  background:
    url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgb(0, 0, 0, 0.2) 3em, rgb(0, 0, 0, 0.1) 3em);
  color: white;
  border-radius: var(--border-radius);
  border: 1px solid white;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }

  option {
    text-align: center;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.review .close-btn {
  font-size: 0.5rem;
  width: 60px;
  border: none;
  padding: 0;
  margin-bottom: -30px;
  padding-left: 10px;
  margin-left: auto;
}

.review .review-form span {
  background: transparent;
  color: white;
  margin-bottom: -20px;
  text-align: center;
  font-size: small;
}
.review textarea {
  height: 180px;
  width: 100%;
  background: transparent;
  color: white;
  padding: 8px;
  border: 1px solid white;
  border-radius: var(--border-radius);
}

.review .star-rating {
  background: transparent;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  color: black;
  height: 40px;
  text-align: center;
  width: 100%;
}

.review button {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: var(--border-radius);
  padding: 8px;
  width: 100%;
  text-align: center;
}

.your-rating {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100%;

  span {
    margin-top: auto;
    background: transparent;
    color: white;
  }

  .edit-btn {
    margin-top: auto;
  }
}

@media (max-width: 768px) {
  .review {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0;
  }

  .review .reviews {
    grid-column: 1;
    grid-row: 2;
  }

  .review .review-form {
    grid-column: 1;
    grid-row: 3;
  }
}

.total-rating {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: small;
}
