.titleshow {
    display: block;
    background: transparent;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    max-height: 60vh;
  }

  .titleshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    opacity: 1;
    object-position: center;
    animation-name: image-zooming;
    animation-duration: 6000ms;
    transform-origin: center center;
  }

  @keyframes image-zooming {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }