.faq {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/home/home3.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.faq header {
  background: transparent;
  padding: var(--padding-vertical-sm) var(--padding-horizontal);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 1rem;
  opacity: 0;
}

.faq.scrolled header::after {
  opacity: 1;
}

.faq .searchbar {
  background: transparent;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 8px;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.faq .label {
  border: 1px solid white;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  grid-column: 1;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 4px;
  margin-left: auto;
}

.faq input {
  border: 1px solid white;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  height: 40px;
  grid-column: 2;
}

.faq header h1 {
  background: transparent;
  color: white;
  text-align: center;
}

.faq main {
  padding: var(--padding-vertical) var(--padding-horizontal);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-size);
  margin-bottom: var(--footer-height);
  overflow-y: auto;
}

.faq article {
  padding: 8px;
  flex: 1 1 calc(33.333% - var(--gap-size));
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid var(--accent-color);
}

.faq article:hover {
  border: 2px solid var(--accent-color);
}

.faq article h3,
.faq article p {
  width: 100%;
  padding: 4px;
}

.faq article:active {
  transform: scale(1.05);
  z-index: 1;
}

@media (max-width: 768px) {
  .faq main {
    padding: var(--padding-vertical) var(--padding-horizontal);
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .faq article {
    flex: 1 1 100%;
    padding: 16px;
  }
}
