.intro-page>main {
  background-image: url("/assets/home/home0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  animation:
    backgroundAnimation 5s infinite alternate,
    fadeIn 2s;
}

.intro-page h1 {
  background: transparent;
  border: none;
  font-size: 3rem;
  color: var(--secondary-color);
  text-shadow: 0 0 4px var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

.intro-page>main h1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.intro-page:hover main {
  background-blend-mode: darken;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backgroundAnimation {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0.7);
  }
}