.password {
  background-image: url("/assets/home/home2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-height));
  overflow-y: hidden !important;
}

.password header {
  margin-top: var(--nav-height);
  padding: var(--padding-vertical-sm) 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password h1 {
  background: transparent;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.password main {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.password form {
  display: grid;
  gap: 10px 0;
  grid-template-columns: 40px auto;
  width: 400px;
  background-color: var(--login-bg-light);
  backdrop-filter: blur(10px);
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-radius: 20px;
}

.password form label {
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  aspect-ratio: 1;
  height: 40px;
}

.password form input {
  color: black;
  border: white;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  grid-column: 2;
  height: 40px;
}

.password form small {
  color: black;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 2;
  a {
    background: transparent;
  }
}

.password .icon {
  background: transparent;
}

.password button {
  transform: translateY(-20px);
  background: var(--login-bg-accent);
  backdrop-filter: blur(10px);
  border: solid 1px white;
  border-radius: var(--border-radius);
  grid-column: 1 / span 2;
  height: 40px;
  text-align: center;
}

.password button:active {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
}
