.floorplan {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-vertical) var(--padding-horizontal);
  width: 100%;

  background: linear-gradient(
    270deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;

  > .description {
    background-color: transparent;
  }

  h2 {
    color: var(--background-color);
    background-color: inherit;
  }

  p {
    color: var(--background-color);
    background-color: inherit;
  }

  button {
    padding: var(--padding-vertical-sm) var(--padding-horizontal-sm);
    font-size: var(--font-size);
    border: none;
    cursor: pointer;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background: transparent;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .floorplan {
    grid-template-columns: 1fr;
  }
}

.holder {
  position: relative;
  background: transparent;
}

.frame {
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: var(--border-radius);
}

.bar {
  overflow: hidden;
  position: absolute;
  background: transparent;
  top: 50px;
  left: 0;
  width: 100%;
  justify-content: center;
}

.fbt {
  padding: var(--padding-vertical-sm) var(--padding-horizontal-sm);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
  background: transparent;
  color: black;
  font-size: var(--font-size);
}

.fbt:hover {
  color: var(--accent-color);
}

.fbt-active {
  text-decoration: underline;
}

.fbtl {
  float: left;
}

.fbtr {
  float: right;
}
